.image_container{
    display: inline-block;
    margin-left: 5%;
    position: relative;
}

.character_boxes{
    display: inline-block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 40%;
    margin-right: 25%;
    width: 300px;
    background-color: #aa34a3;
}

.title{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}